[user]
	name = joffroy59
	email = jerome.offroy@gmail.com
[alias]
	st = status
[push]
	default = simple
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	cmd = \"C:\\\\Program Files\\\\KDiff3\\\\kdiff3\" $BASE $LOCAL $REMOTE -o $MERGED
[credential]
[credential]
[mergetool]
	keepBackup = false
